/* topbar */
.topbar {
    padding: 0 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar img {
    width: 8em;
}

/* main container */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 5rem;
    margin-bottom: 4em;
    z-index: 0;
    background-color: transparent;
}

#shield {
    color: var(--variant-color);
}

.header__container h2 {
    margin-top: -0.8em;
    margin-bottom: 1em;
}

.header__container h3 {
    margin-bottom: 2em;
}

.header__container p {
    max-width: 750px;
    margin-bottom: 2rem;
}

.header__video-wrapper {
    flex: 1;
    position: relative;
    height: 100vh;
    width: 100%;
}

.header__video-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  
    /* Dégradé horizontal fondu des bords */
    background: linear-gradient(to right, rgba(6,11,1,1) 0%, rgba(6,11,1,0) 15%, rgba(6,11,1,0) 85%, rgba(6,11,1,1) 100%);
  }  

.header__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* .header__cta .icon {
  background: transparent;
  color: var(--main-text);
  border: 2px solid var(--variant-color);
} */

.header__cta {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  background: linear-gradient(135deg, #e62525, #730707);
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 25px rgba(230, 37, 37, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulseIcon 1.4s infinite ease-in-out;
}

.header__cta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(255, 0, 0, 0.7);
}

.header__cta .icon {
  font-size: 1.3rem;
  transition: transform 0.3s ease;
  
}

.header__cta:hover .icon {
  transform: translateX(6px);
}

/* ===================== PC PORTABLE ===================== */
@media (min-width: 1024px) and (max-width: 1540px) {
  #header {
    min-height: auto;
    height: max-content;
  }

  .header__container {
    margin-bottom: 0;
  }

  .header__container h1 {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  .header__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

/* ========= Grands iPad/tablettes en paysage ========= */
@media (min-width: 980px) and (max-width: 1024px) { 
  #header {
    min-height: auto;
    height: max-content;
  }

  .header__container {
    margin-bottom: 0;
  }

  .header__container h1 {
    font-size: 4rem;
    margin-bottom: 1em;
  }

  .header__video-wrapper {
    height: 70vh;
  }

  .header__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

/* ===================== TABLETTE ===================== */
@media (min-width: 768px) and (max-width: 979px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    min-height: auto;
  }

  .header__container {
    margin-top: -18em;
    padding: 0 1rem;
    margin-bottom: 2em;
    text-align: center;
    z-index: 5;
  }

  .header__container h1 {
    font-size: 4rem;
    margin-bottom: 1.5em;
  }

  .header__container h2 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    color: var(--variant-color);
  }

  .header__container p {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    text-align: center;
  }

  .header__video-wrapper::before {
    /* Dégradé vertical fondu des bords */
    background: linear-gradient(to bottom, rgba(6,11,1,1) 0%, rgba(6,11,1,0) 15%, rgba(6,11,1,0) 85%, rgba(6,11,1,1) 100%);
  }   

  .header__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
  }

  .topbar {
    padding: 1rem 1.5rem;
    max-width: 100vw;
    flex-direction: row;
    gap: 1rem;      
  }
}
  
/* ===================== MOBILES ===================== */
@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    min-height: auto;
  }

  .header__container {
    margin-top: -10em;
    padding: 0 1rem;
    margin-bottom: 2em;
    text-align: center;
    z-index: 5;
  }

  .header__container h1 {
    font-size: 2rem;
    margin-bottom: 2em;
  }

  .header__container h2 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    color: var(--variant-color);
  }

  .header__container p {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    text-align: center;
  }

  .header__cta {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 1rem;
    margin-top: 2rem;
    font-size: 1em
  }

  .header__video-wrapper {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }

  .header__video-wrapper::before {
    /* Dégradé vertical fondu des bords */
    background: linear-gradient(to bottom, rgba(6,11,1,1) 0%, rgba(6,11,1,0) 15%, rgba(6,11,1,0) 85%, rgba(6,11,1,1) 100%);
  }   

  .header__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
  }

  .topbar {
    padding: 1rem 1.5rem;
    max-width: 100vw;
    flex-direction: row;
    gap: 1rem;      
  }

  .topbar img {
    width: 6em;
  }
}
  